body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .banner {
    background-image: url(https://wallpapercave.com/wp/ELWYXSY.jpg); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

  }
  
  .banner-text {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:gold;
  }


  .banner-text2 {
    text-align: center;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:gold;
  }

  #registration-block
  {
    background-image: url(https://wallpaperaccess.com/full/45634.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border: 2px solid;
    /* color: blue; */ 
    text-align: center;
    color: aquamarine;
  }

  
 


  .card 
  {
    text-align: center;
    border: blue solid 1px;
    padding: 1rem;
    width: 30rem;
    height: 40rem;
    display: inline-grid;
    position: center;
    margin: 3rem 55rem;
    box-shadow: 3px 4px grey;
  }

